$blue-color: #2945FF;
$green-color: #15BC1C;
$yellow-color: #FFDD29;
$orange-color: #FF8329;
$red-color: #FF2929;
$black-color: #000000;
$grey-color: rgba(0, 0, 0, 0.8);
$white-color: rgba(0, 0, 0, 0.1);
